# Normal private files
build/
dist/
logs/
adaptor-config.properties
build.properties
cacerts.jks
keys.jks
adaptor.crt
gsa.crt

# unix files
RCS/

# IntelliJ files
workspace/
classes/
.idea
Plexi.iml

# NetBeans files
nbproject/

# run commands
run_orc_exp
run_sqlserv_exp
run_sqlserv_continous
tools/sql-inserts
